@import "../node_modules/bootstrap/scss/bootstrap.scss";

@import "./utils/_mixins";
@import "./utils/_variables";
@import "./base/typography";
@import "./layouts/footer";
@import "./layouts/header";
@import "./pages/index.scss";
@import "./pages/product.scss";
@import "./pages/cart.scss";
@import "./pages/order.scss";