@font-face{
    font-family: "Lobster";
    src: url(../font/Lobster/Lobster-Regular.ttf);
}

@font-face{
    font-family: "Fira";
    src: url(../font/Fira_Sans/FiraSans-Regular.ttf);
}
@font-face{
    font-family: "Delius";
    src: url(../font/Delius/Delius-Regular.ttf);
}

