header{
    @include header-style;
}

footer{
    @include footer-style;
}

.cart_page{
    margin-top: 20px;
    margin-bottom: 20px;
}
.your_cart{
    font-size: 26px;
}

.main_cart{
    display: flex;
    &_form{
        background-color: rgb(249, 243, 250);
        border-radius: 15px;
        padding: 40px;
        font-size: 14px;
        &_button input{
            background-color: #f5aa42;
            border-radius: 30px;
            border: none;
            box-shadow: 1px 2px 5px lightgray;
            font-family: Fira;
            font-size: 16px;
            margin-top: 20px;
            padding: 20px 25px 20px 25px;
            cursor: pointer;
            display: flex;
            justify-content: center;
        }
    }
}

.cart_product{
    display: flex;
    border: solid 1px grey;
    margin-bottom: 15px;
    & img{
        width: 200px;
    }
}
.total_cart{
    display: flex;
    align-items: center;
    font-size: 20px;
    background: #f7cb8d;
    border-radius: 10px;
    padding: 8px 15px 8px 15px;
    width: 500px;
}