header{
    @include header-style;
}

footer{
    @include footer-style;
}

.cart_page{
    margin-top: 20px;
    margin-bottom: 20px;
}
.your_cart{
    font-size: 26px;
}

.main_cart{
    display: flex;
    &_form{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 520px;
        background-color: rgb(249, 243, 250);
        border-radius: 15px;
        padding: 40px;
        font-size: 14px;
        &_user{
            width: 220px;
            &_information{
                & span{
                    color: #f5aa42;
                }
                margin-bottom: 30px;
            }
            &_infos{
                display: flex;
                flex-direction: column;
                padding: 5px;
                align-items: flex-start;
                & input{
                    width: 100%;
                }
            }
            &_location{
                & span{
                    color: #f5aa42;
                }
            }
            &_locas{
                display: flex;
                flex-direction: column;
                padding: 5px;
                align-items: flex-start;
                & input{
                    width: 100%;
                }
            }
        }
        &_button{
            & input{
                background-color: #f5aa42;
                border-radius: 30px;
                border: none;
                box-shadow: 1px 2px 5px lightgray;
                font-family: Fira;
                font-size: 16px;
                margin-top: 20px;
                padding: 20px 25px 20px 25px;
                cursor: pointer;
                display: flex;
                justify-content: center;
                    &:hover{
                        background: linear-gradient(to top, #f5aa42, #f57e42);
                    }
            }
            & a{
                text-decoration: none;
            }
        }
    }
}

.cart_product{
    display: flex;
    border: solid 1px grey;
    margin-bottom: 15px;
    & img{
        width: 200px;
    }
}
.total_cart{
    display: flex;
    align-items: center;
    font-size: 25px;
    background: #f7cb8d;
    border-radius: 10px;
    padding: 8px 15px 8px 15px;
    width: 350px;
}

#cart_number_quantity{
    height: 30px;
    width: 50px;
}

.block_product{
    display: flex;
    justify-content: space-between;
    border-radius: 3px;
    box-shadow: 1px 3px 5px lightgrey;
    margin-bottom: 30px;
    &_img img{
        width: 100%;
        height: 200px;
    }
    &_infos{
        font-size: 15px;
        padding-top: 15px;
    }
    &_quantity{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100px;
        border-radius: 5px;
        margin-top: 10px;
        &_number{
            border-top: lightgrey 2px solid;
            border-bottom: grey 2px solid;
            padding: 0px 15px 0px 15px;
        }
        & button{
            background:rgb(243, 233, 241);
            }
    }
    &_total{
        display: flex;
        flex-direction: column;
        font-size: 17px;
        align-items: center;
        justify-content: space-evenly;
        & button{
            background:rgb(243, 233, 241);
            border-radius: 10px;
            box-shadow: 1px 2px 5px lightgray;
            padding: 5px 15px 5px 15px;
            }
    }
    &_delete{
        justify-content: center;
        align-items: center;
        font-size: 20px;
        cursor: pointer;
    }
    &_subtotal{
        color: black;
        background: #f7cb8d;
        border-radius: 10px;
        font-size: 30px;
        padding: 5px 10px 5px 10px;
    }
}