html{
    width: 100%;
}
body{
    font-family: Fira;
    width: 100%;
}
header{
    @include header-style;
}

footer{
    @include footer-style;
}

.block{
    font-family: Fira;
        &_infos{
            padding: 20px;
        }
        &_all_products{
            display: flex;
            flex-wrap: wrap;
            & a{
                color: black;
                text-decoration: none;
                &:hover{
                    text-decoration: none;
                    color: black;
                }  
            }
        }
        &_product{
            border-radius: 5px;
            box-shadow: 1px 3px 5px lightgrey;
            margin-bottom: 30px;
                &_img img{
                    width: 100%;
                    height: 200px;
                    border-radius: 5px 5px 0px 0px;
                }
                &_name{
                    padding: 10px;
                    font-weight: bold;
                }
                &_price{
                    padding: 10px;
                    font-family: Delius;
                    font-size: 20px;
                }
        }
}
