header{
    @include header-style;
}

footer{
    @include footer-style;
}

.product{
    &_page{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    &_img{
        & img{
        width: 100%;
        height: auto;
        }
    }
}
.back_to_menu{
    padding: 0px 10px 30px 10px;
    & a{
        display:flex;
        color: black;
        text-decoration: none;
    }
    & i{
        font-size: 20px;
        padding: 0px 10px 0px 10px;
    }
}
       
#button_add_to_cart{
    border-radius: 5px;
    border: none;
    background-color: #f5aa42;
    padding: 10px 20px 10px 20px;
    width: 100%;
    margin-top: 30px;
}
#button_add_to_cart:hover{
    background: linear-gradient(to top, #f5aa42, #f57e42);
}

#product_infos_name{
    font-size: 25px;
}

#product_infos_price{
    font-size: 30px;
    font-family: Delius;
}

#product_infos_personalisation{
    padding-top: 15px;
    & li{
    list-style: none;
    }
}

#product_infos_description{
    padding-top: 10px;
}

#product_infos_qty{
    padding-top: 15px;
}