header{
    @include header-style;
}

footer{
    @include footer-style;
}

.product{
    &_page{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    &_img{
        & img{
        width: 750px;
        height: 500px;
        }
    }
}
       
#button_add_to_cart{
    border-radius: 5px;
    border: none;
    background-color: #f5aa42;
    padding: 10px 20px 10px 20px;
    width: 100%;
}

#product_infos_name{
    font-size: 25px;
}

#product_infos_price{
    font-size: 30px;
    font-family: Delius;
}

#product_infos_personalisation{
    & li{
    list-style: none;
    }
}

#product_infos_description{
    padding: 10px;
}