@mixin footer-style{
    font-size: 13px;
    font-family: "Fira";
    background-color: #131921;
    color: white;
    padding: 20px 30px 10px 50px;
    margin-top: 30px;

.footer_components{
    display: flex;
    justify-content: center;
    margin-right: -15px;
    margin-left: -15px;
}
.footer_conditions{
    & a{
    text-decoration: none;
    color: white;
    }
    & p{
        margin-top: 0px;
    }
}
.footer_contact{
    & p{
        font-size: 11px;
    }
    & a{
        text-decoration: none;
        color: white;
    }
}
.footer_socials{
    &_icons{
        display: flex;
        font-size: 18px;
        margin-top: 10px;
    }
}
.fa-instagram{
    margin-right: 10px;
    text-decoration: none;
    color: white;
    &:hover{
        display: inline-block;
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-decoration: none;
    }

}
.fa-facebook{
    margin-right: 10px;
    text-decoration: none;
    color: white;
    &:hover{
        color: #3b5998;
    }

}
.fa-twitter{
    margin-right: 10px;
    text-decoration: none;
    color: white;
    &:hover{
        color: #00acee;
    }

}
}