@mixin header-style{
    background-color: rgb(243, 233, 241);
    align-items: center;
    margin-bottom: 30px;

.header_logo{
    display: flex;
    justify-content: left;
    align-items: center;
    & a{
        display: inline-block;
    }
    & img{
        height: auto;
        width: 150px;
        max-width: 200px;
    }
}

.header_input{
    display: flex;
    justify-content: center;
    align-items: center;
    &_category{
        font-size: 13px;
        font-family: Fira;
        padding: 8px;
        background: linear-gradient(to top, #f5aa42, #f57e42);
        border-radius: 10px 0px 0px 10px;
        color: #131921;
    }
    &_search{
        width: 60%;
        & input{
            width: 100%;
            font-family: Fira;
            color: #131921;
            font-size: 20px;
        }
    }
    &_loupe{
        font-size: 13px;
        padding: 8px;
        background: linear-gradient(to top, #f5aa42, #f57e42);
        border-radius: 0px 10px 10px 0px;
        color: #131921;
    }
}
.header_cart{
    display: flex;
    justify-content: right;
    align-items: center;
    & a{
        display: flex;
        align-items: center;
        text-decoration: none;    
        justify-content: center;
    }
    &_icon{
        & i{
        font-size: 30px;
        color: #131921;
        }
    }
    &_number{
        font-family: Delius;
        font-size: 22px;
        font-weight: bold;
        color: #f5aa42;
    }
    &_text{
        color: #131921;
        font-family: Delius;
        font-size: 16px;
        font-weight: bold;
    }
    
}
}
#header_cart_number{
    font-family: Delius;
    font-size: 22px;
    font-weight: bold;
    color: #f5aa42;
}
