@mixin header-style{
    background-color: rgb(243, 233, 241);
    align-items: center;
    margin-bottom: 10px;

.header_logo{
    display: flex;
    justify-content: left;
    align-items: center;
    & a{
        display: inline-block;
    }
    & img{
        height: auto;
        width: 150px;
        max-width: 200px;
    }
}

.header_input{
    display: flex;
    justify-content: center;
    align-items: center;
    &_category{
        font-size: 13px;
        font-family: Fira;
        padding: 8px;
        background: linear-gradient(to top, #f5aa42, #f57e42);
        border-radius: 10px 0px 0px 10px;
        color: #131921;
    }
    &_search{
        width: 60%;
        & input{
            width: 100%;
            font-family: Fira;
            color: #131921;
            font-size: 20px;
        }
    }
    &_loupe{
        font-size: 13px;
        padding: 8px;
        background: linear-gradient(to top, #f5aa42, #f57e42);
        border-radius: 0px 10px 10px 0px;
        color: #131921;
    }
}
.header_cart{
    display: flex;
    justify-content: right;
    align-items: center;
    & a{
        display: flex;
        align-items: center;
        text-decoration: none;    
        justify-content: center;
    }
    &_icon{
        & i{
        font-size: 30px;
        color: #131921;
        }
    }
    &_number{
        font-family: Delius;
        font-size: 22px;
        font-weight: bold;
        color: #f5aa42;
    }
    &_text{
        color: #131921;
        font-family: Delius;
        font-size: 16px;
        font-weight: bold;
    }
    
}

#header_cart_number{
    font-family: Delius;
    font-size: 22px;
    font-weight: bold;
    color: #f5aa42;
}
#header_cart_message{
    visibility: hidden;
    position: absolute;
    top: 50px;
    right: 50px;
    z-index: 9999;
    background-color: white;
    border: solid 2px black;
    border-radius: 10px;
    padding: 10px;

    @keyframes fondu{
        0%{transform: translateY(10px); opacity: 0}
        20%{transform: translateY(0px); opacity: 1}
        50%{transform: translateY(0px); opacity: 1}
        98%{transform: translateY(0px); opacity: 1}
        100%{transform: translateY(0px); opacity: 0}
    }
}

#header_cart_message img{
    width: 70px;
    height: 50px;
    position: absolute;
    left: 8px;
    top: 55px;
}
.header_cart_message{
    &_title{
        color: #f5aa42;
        padding: 5px 20px 5px 20px;
    }
    &_name{
        color: black;
        padding: 5px 5px 5px 80px;
    }
    &_price{
        color: black;
        padding: 5px 5px 5px 80px;
    }
}

}